<div class="container">
  <!-- error in editOrder -->
  @if (editedOrder == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-primary bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        order_edited_Successfully !!
      </div>
    </div>
  </div>
  } @else if (editedOrder == false) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-primary bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        Error_in_edit_order !!
      </div>
    </div>
  </div>
  } @else { }

  <!-- error in deleteOrder -->
  @if (deletedOrderMessage == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-warning bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        order_Deleted_Successfully !!
      </div>
    </div>
  </div>
  } @else if (deletedOrderMessage == false) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-danger bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        Error_in_Delete_order !!
      </div>
    </div>
  </div>
  } @else { }

  <!-- error in uploadOrder -->
  @if (uploadOrder == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-success">
      <div class="toast-body text-uppercase fw-medium">
        order_Added_Successfully !!
      </div>
    </div>
  </div>
  } @else if (uploadOrder == false) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-danger">
      <div class="toast-body text-uppercase fw-medium">
        Error_in_Add_Order !!
      </div>
    </div>
  </div>
  } @else { }

  <!-- error in createOrder -->
  @if (createOrderError == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-danger bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        order_can_not_be_empty !!
      </div>
    </div>
  </div>
  } @else { }

  <!-- if the order is already exist -->
  @if (orderNameExist == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-danger bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        order_already_exist !!
      </div>
    </div>
  </div>
  } @else { }

  <div
    class="d-flex align-items-center flex-wrap p-3 my-4 text-white bg-purple rounded shadow-sm"
  >
    <i class="bi bi-database-add me-3" style="font-size: 2rem"></i>
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">Add Your Order Here</h1>
    </div>
    <div class="w-100 input-group my-2">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="orderData"
        (keydown.enter)="createOrder()"
      />
      <button
        type="button"
        (click)="createOrder()"
        class="btn"
        [class]="uploadOrder ? 'btn-success' : 'btn-outline-light'"
        [disabled]="(orderData || '').trim().length === 0"
      >
        @if (Creat_Loading == true) {
        <span
          class="spinner-border spinner-border-sm mx-1"
          aria-hidden="true"
        ></span>
        } @else {
        <i
          class="bi fw-bold"
          [class]="uploadOrder ? 'bi-check2-all ' : 'bi-plus-lg'"
          style="font-size: 1.2em"
        ></i
        >}
      </button>
    </div>
  </div>
  @if(dataLoading == true){
  <div class="card">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
    </div>
  </div>
  } @else { @if(orders.length == 0){
  <h1>Add Your Order Here</h1>
  } @else {
  <!-- start group of orders -->
  <div class="list-group text-start">
    @for (order of orders; track $index) {
    <app-order
      [order]="order"
      [index]="$index"
      [EditedData]="EditorderData"
      [delete_button_can_click]="delete_button_can_click"
      [delete_Loading]="delete_Loading"
      [deletedOrder]="deletedOrder"
      [disabled]="disabled"
      [edit_Loading]="edit_Loading"
      [editedOrder]="editedOrder"
      (EditAndPutEditedData)="EditAndPutEditedData(order, EditorderData)"
      (deleteOrderFun)="deleteOrder(order, $index)"
      (checkInputFieldFun)="checkInputField(EditorderData, order)"
      (editOrderFun)="EditOrder(EditorderData, order, $index)"
      [orders]="orders"
      (dataChange)="handleDataChange($event)"
    ></app-order>
    }
  </div>
  <!-- end group of orders -->
  } }
</div>
