<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid px-5">
    <a class="navbar-brand" routerLink="/" routerLinkActive="router-link-active"
      >CRUD App</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        @if (isLoggedin == true) {
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="bg-black bg-opacity-50 text-white rounded fw-medium"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admin"
            routerLinkActive="bg-black bg-opacity-50 text-white rounded fw-medium"
            >admin</a
          >
        </li>
        <li class="nav-item ms-auto">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="bg-danger text-white rounded fw-medium"
            (click)="signOut()"
            >signout</a
          >
        </li>
        } @else {
        <li class="nav-item ms-auto">
          <a
            class="nav-link"
            routerLink="/signup"
            routerLinkActive="bg-black bg-opacity-50 text-white rounded fw-medium"
            ><i class="bi bi-person-add me-1"></i> signup</a
          >
        </li>
        <li class="nav-item mx-1">
          <a
            class="nav-link justify-content-end"
            routerLink="/login"
            routerLinkActive="bg-black bg-opacity-50 text-white rounded fw-medium"
          >
            <i class="bi bi-box-arrow-in-right me-1"></i>
            login</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
