<div
  class="d-flex justify-content-center align-items-center container position-relative h-full"
>
  <main class="form-signin w-100 m-auto py-5">
    @if (responseError) {
    <div class="alert alert-danger text-capitalize" role="alert">
      {{ errorMessages }} !!
    </div>
    } @if (createdSuccess) {
    <div class="alert alert-success text-capitalize" role="alert">
      Email was created successfully !!
    </div>
    }
    <form [formGroup]="createUserData" (submit)="onSubmitCreateAccount()">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-12 col-md-6">
          <img class="mb-4 w-75" src="signup.svg" alt="" />
        </div>
        <div
          class="col col-12 col-md-6 d-flex flex-wrap justify-content-center align-items-center"
        >
          <div class="w-75">
            <h1 class="h3 mb-5 fw-normal w-100">Please sign-up</h1>
            <div class="my-2 w-100">
              <input
                type="email"
                formControlName="email"
                class="form-control"
                [class]="checkControlValidation(email, email?.valid)"
                placeholder="Email"
              />
              @if(email?.invalid && (email?.dirty || email?.touched)){

              <!-- required Email -->
              @if( email?.hasError('required')){
              <p class="text-start ps-2 invalid-feedback">
                * Please enter your email address.
              </p>
              }
              <!-- invalid Email -->

              @if(email?.errors?.['email'] || email?.errors?.['pattern']){
              <p class="text-start ps-2 invalid-feedback">
                * Please enter a valid email address.
              </p>
              } }
            </div>
            <div class="my-2 w-100">
              <div class="d-flex mb-3 position-relative align-items-center">
                <input
                  [type]="showPassword1 ? 'text' : 'password'"
                  formControlName="password"
                  class="form-control rounded-end-0"
                  [class]="checkControlValidation(password, password?.valid)"
                  placeholder="Password"
                />
                <!-- <label for="floatingPassword">Password</label> -->
                <a
                  class="btn end-0 rounded-start-0 showPassword"
                  (click)="toggleShowPassword1()"
                >
                  <i
                    class="bi bi-eye-fill text-secondary"
                    [class]="showPassword1 ? 'bi-eye-fill' : 'bi-eye'"
                  ></i>
                </a>
              </div>
              @if(password?.invalid && (password?.dirty || password?.touched)){
              <!-- empty password -->
              @if( password?.hasError('required')){
              <p class="text-start ps-2 invalid-feedback">
                * Please enter your password.
              </p>
              }
              <!-- invalid password -->
              @if(password?.hasError('minlength')){
              <p class="text-start ps-2 invalid-feedback">
                * password must be 6 charachters or more.
              </p>
              } }
            </div>
            <div class="form-floating my-2 w-100">
              <div class="d-flex mb-3 position-relative align-items-center">
                <input
                  [type]="showPassword2 ? 'text' : 'password'"
                  [formControl]="confirmPassword"
                  class="form-control rounded-end-0"
                  [class]="confimPasswordCheck()"
                  id="floatingPassword1"
                  placeholder="Re-enter Password"
                />
                <a
                  class="btn rounded-start-0 showPassword"
                  (click)="toggleShowPassword2()"
                >
                  <i
                    class="bi bi-eye-fill text-secondary"
                    [class]="showPassword2 ? 'bi-eye-fill' : 'bi-eye'"
                  ></i>
                </a>
              </div>
              <!-- <label for="floatingPassword1">Re-enter Password</label> -->

              @if(confirmPassword.invalid && (confirmPassword.dirty ||
              confirmPassword.touched)){
              <!-- empty field -->
              @if( confirmPassword.hasError('required')){
              <p class="text-start ps-2 invalid-feedback">
                * Please enter your password.
              </p>
              }
              <!-- invaled confirmed password -->
              @if(confirmPassword.value != password?.value ){
              <p class="text-start ps-2 invalid-feedback">
                * password not Match.
              </p>
              } @if(password?.hasError('minlength')){
              <p class="text-start ps-2 invalid-feedback">
                * password must be 6 charachters or more.
              </p>
              }}
            </div>
            <button
              type="submit"
              class="btn btn-primary mt-3 px-5 mb-4"
              [disabled]="
                !createUserData.valid ||
                !(confirmPassword.value == password?.value)
              "
            >
              @if (loadding == true) {
              <span
                class="spinner-border spinner-border-sm mx-1"
                aria-hidden="true"
              ></span>
              <span role="status">Loading...</span>
              } @else { sign-up }
            </button>
            <div class="d-block">
              <a
                class="link-offset-2 link-underline link-underline-opacity-25 d-inline text-capitalize"
                [routerLink]="['/login']"
                routerLinkActive="router-link-active"
                >i already have account</a
              >
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
</div>
