.h-full {
  height: 80vh;
}
.showPassword {
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showPassword:focus,
.showPassword:active {
  border: none;
}

.form-control:focus,
.form-control:visited,
.input-field-test {
  border: none !important;
}
.input-field-test {
  box-shadow: none !important;
}
