<div class="position-relative">
  @if (responseError) {
  <div class="alert alert-danger text-capitalize" role="alert">
    {{ errorMessages }} !!
  </div>
  } @if (createdSuccess) {
  <div class="alert alert-success text-capitalize" role="alert">
    Email was created successfully !!
  </div>
  }
  <form [formGroup]="createUserData" (submit)="onSubmitCreateAccount()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        id="enterPassword"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Re-enter Password</label
      >
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        [ngModelOptions]="{ standalone: true }"
        class="form-control"
        id="Re-enterPassword"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
