<div class="container">
  <!-- error in editOrder -->
  @if (editedOrder == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-primary bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        order_edited_Successfully !!
      </div>
    </div>
  </div>
  } @else if (editedOrder == false) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-primary bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        Error_in_edit_order !!
      </div>
    </div>
  </div>
  } @else { }

  <!-- error in deleteOrder -->
  @if (deletedOrderError == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-warning bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        order_Deleted_Successfully !!
      </div>
    </div>
  </div>
  } @else if (deletedOrderError == false) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-danger bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        Error_in_Delete_order !!
      </div>
    </div>
  </div>
  } @else { }

  <!-- error in uploadOrder -->
  @if (uploadOrder == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-success">
      <div class="toast-body text-uppercase fw-medium">
        order_Added_Successfully !!
      </div>
    </div>
  </div>
  } @else if (uploadOrder == false) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-danger">
      <div class="toast-body text-uppercase fw-medium">
        Error_in_Add_Order !!
      </div>
    </div>
  </div>
  } @else { }

  <!-- error in createOrder -->
  @if (createOrderError == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-danger bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        order_can_not_be_empty !!
      </div>
    </div>
  </div>
  } @else { }

  <!-- if the order is already exist -->
  @if (orderNameExist == true) {
  <div
    class="toast-container p-3 bottom-0 end-0"
    id="toastPlacement"
    data-original-class="toast-container p-3"
  >
    <div class="toast fade show text-bg-danger bg-opacity-75 border-0">
      <div class="toast-body text-uppercase fw-medium">
        order_already_exist !!
      </div>
    </div>
  </div>
  } @else { }

  <div
    class="d-flex align-items-center flex-wrap p-3 my-4 text-white bg-purple rounded shadow-sm"
  >
    <i class="bi bi-database-add me-3" style="font-size: 2rem"></i>
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">Add Your Order Here</h1>
    </div>
    <div class="w-100 input-group my-2">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="orderData"
        (keydown.enter)="createOrder()"
      />
      <button
        type="button"
        (click)="createOrder()"
        class="btn"
        [class]="uploadOrder ? 'btn-success' : 'btn-outline-light'"
        [disabled]="(orderData || '').trim().length === 0"
      >
        @if (Creat_Loading == true) {
        <span
          class="spinner-border spinner-border-sm mx-1"
          aria-hidden="true"
        ></span>
        } @else {
        <i
          class="bi fw-bold"
          [class]="uploadOrder ? 'bi-check2-all ' : 'bi-plus-lg'"
          style="font-size: 1.2em"
        ></i
        >}
      </button>
    </div>
  </div>
  @if(dataLoading == true){
  <div class="card">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
    </div>
  </div>
  } @else { @if(orders.length == 0){
  <h1>Add Your Order Here</h1>
  } @else {
  <!-- start group of orders -->
  <div class="list-group text-start">
    @for (order of orders; track $index) {
    <div
      href="#"
      class="list-group-item list-group-item-action d-flex flex-wrap py-3"
      aria-current="true"
    >
      <div class="d-flex gap-3 py-3 w-100">
        <img
          src="order_logo.png"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0"
        />
        <!-- start order data -->
        <div class="d-flex w-100 align-items-center">
          <div>
            <h6 class="mb-0">{{ order.orderName }}</h6>
          </div>
        </div>
        <!-- end order data -->
        <!-- start edit button -->
        <button
          type="button"
          class="btn btn-warning btn-sm text-white"
          (click)="EditAndPutEditedData(order, EditorderData)"
        >
          <i class="bi bi-pencil-square fw-bold" style="font-size: 1.2em"></i>
        </button>
        <!-- end edit button -->
        <!-- start delete button -->
        <button
          type="button"
          class="btn btn-danger btn-sm text-white"
          (click)="deleteOrder(order, $index)"
        >
          @if (delete_Loading === $index) {
          <span
            class="spinner-border spinner-border-sm mx-1"
            aria-hidden="true"
          ></span>
          } @else {
          <i
            class="bi fw-bold"
            [class]="
              deletedOrder === $index ? 'bi-check2-all ' : 'bi-trash-fill'
            "
            style="font-size: 1.2em"
          ></i
          >}
        </button>
        <!-- end delete button -->
      </div>
      @if(order.isEditing == true){
      <!-- start edit expand -->
      <div class="w-100 d-flex flex-nowrap gap-2 align-item-center">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="EditorderData"
          (keydown.enter)="EditOrder(EditorderData, order, $index)"
          (ngModelChange)="checkInputField(EditorderData, order)"
        />
        <button
          type="button"
          class="btn btn-success btn-sm text-white"
          (click)="EditOrder(EditorderData, order, $index)"
          [disabled]="disabled"
        >
          @if (edit_Loading == true) {
          <span
            class="spinner-border spinner-border-sm mx-1"
            aria-hidden="true"
          ></span>
          } @else {
          <i
            class="bi fw-bold"
            [class]="editedOrder ? 'bi-check2-all ' : 'bi-pencil'"
            style="font-size: 1.2em"
          ></i
          >}
        </button>
      </div>
      <!-- end edit expand -->
      }
    </div>
    }
  </div>
  <!-- end group of orders -->
  } }
</div>
